.task-container input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.checkbox-container,
.task-details {
  padding: 0;
}

.task-container {
  border-bottom: 1px solid #eee;
}

.left-container {
  width: 100%;
}

.list-title {
  display: flex;
  align-items: center;
}

.list-title h1 {
  padding-right: 10px;
}

.task-actions svg,
.list-title svg {
  margin: 0 7px;
  cursor: pointer;
}

.task-actions a,
.list-title a {
  color: black;
}

.task-actions a:hover,
.list-title a:hover {
  color: #0a58ca;
}

.task-deadline {
  color: #949697;
}

.completed .left-container h5,
.completed .left-container p {
  text-decoration: line-through;
}
